version: '3.8'

services:
  db:
    image: postgres:latest
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=project.settings.prod
    volumes:
      - .:/hgk_dev
      - static:/app/static
      - media:/app/media
    depends_on:
      - db
    working_dir: /hgk_dev
    command: sh -c "python project/manage.py migrate && gunicorn project.project.wsgi:application --bind 0.0.0.0:8000"
    networks:
      - app-network

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt/:ro
      - static:/app/static
      - media:/app/media
    depends_on:
      - web
    networks:
      - app-network

volumes:
  postgres_data:
  static:
  media:

networks:
  app-network:
    driver: bridge