/* Large screens */
@media (max-width: 1400px) {
    .header-contacts {
        display: none;
    }

    .header-content {
        justify-content: center;
    }
}

@media (min-width: 1400px) {
    .container {
        align-items: center;
        max-width: 1400px;
    }

    .header-content {
        justify-content: center;
    }

    .services-grid,
    .advantages-grid,
    .contacts-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1200px) {
    .services-grid,
    .advantages-grid,
    .contacts-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Medium screens */
@media (max-width: 1024px) {    
    .services-grid,
    .advantages-grid,
    .contacts-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Hero section */
    .stat-number {
        font-size: 1.8rem;
    }

    .stat-label {
        font-size: 1rem;
    }

    .hero-content {
        margin-top: -1rem;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .header-content {
        display: inline;
        flex-direction: column;
    }

    .header-static {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .header-nav {
        order: 3;
        width: 100%;
    }
    
    .nav-list {
        justify-content: space-around;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

    .menu-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-dark);
        background-color: var(--border-color);
        border-radius: var(--border-radius);
        border: none;
        box-shadow: var(--shadow);
        height: 2rem;
        width: 2rem;
    }

    .header {
        background-color: white;
    }

    /* показываем меню при активации */
    .mobile-menu.active .header-nav,
    .mobile-menu.active .header-contacts {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .nav-link {
        color: var(--text-dark);
        text-shadow: none;
    }

    .services-grid,
    .advantages-grid,
    .contacts-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Hero section */
    .hero {
        margin-top: auto !important;
        background-attachment: scroll;
    }

    .hero-content {
        max-width: 60vw;
        gap: 2rem;
        margin-top: -6rem;
    }

    .hero-title {
        font-size: 3.5vw;
    }

    .hero-subtitle {
        font-size: 2.0vw;
    }

    .hero-stats {
        grid-template-columns: repeat(2, 1fr);
    }

    .stat-item {
        padding: 1rem;
    }
}

/* Mobile */
@media (max-width: 480px) {    
    .services-grid,
    .advantages-grid,
    .contacts-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Настройка header в мобильной версии */
    .logo-text {
        display: none;
    }

    .mobile-menu.active .header-contacts {
        display: none;
    }

    .header-contacts-mobile {
        display: flex;
    }

    .nav-list {
        flex-direction:  column;
        align-items: center;
        padding: 0;
    }

    /* Hero section */
    .hero-content {
        max-width: 80vw;
        text-align: center;
        margin-top: -7rem;
    }

    .hero-title {
        font-size: 6vw;
    }

    .hero-subtitle {
        font-size: 3.5vw;
    }

    .hero-stats {
        grid-template-columns: repeat(2, 1fr);
    }

    .stat-item {
        padding: 1rem;
    }

    .btn {
        width: 100%;
        justify-content: center;
    }
}

/* Landscape mobile */
@media (max-width: 768px) and (orientation: landscape) {
    .services-grid,
    .advantages-grid,
    .contacts-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}